* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E8F5E9;
}

h1 {
    width: 100vw;
    text-align: center;
    margin-bottom: 15px;
}

div#tiles {
    width: 80vh;
    margin: 0 auto;
}

div#tiles div.holder {
    width: calc( (80vh / 10) - 15px );
    height: calc( (80vh / 10) - 15px );
    float: left;
    margin: 2.5px;
    padding: 5px;

    background-color: #4CAF50;
    border-radius: 5px;
}

div#draggables {
    position: fixed;
    top: 10px;
    right: 10px;
}

div#draggables div.holder {
    width: calc( (80vh / 10) - 15px );
    height: calc( (80vh / 10) - 15px );
    margin: 5px;
    padding: 5px;

    background-color: #FFEB3B;
    border-radius: 5px;
}

div.draggable {
    width: calc( (80vh / 10) - 15px );
    height: calc( (80vh / 10) - 15px );

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    background: url(https://placekitten.com/200/200) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #4CAF50;
    border-radius: 5px;
}