div.container-fluid.outer {
    padding: 0px 30px;
}

div.full-height-box {
    height: calc(100vh - 60px);
    width: 100%;

    margin: 30px 0px;
    border-radius: 10px;
    overflow: hidden;
}

.bg-mat-50 { background-color: #E0F2F1; }
.bg-mat-100 { background-color: #B2DFDB; }
.bg-mat-200 { background-color: #80CBC4; }
.bg-mat-300 { background-color: #4DB6AC; }
.bg-mat-400 { background-color: #26A69A; }
.bg-mat-500 { background-color: #009688; }
.bg-mat-600 { background-color: #00897B; }
.bg-mat-700 { background-color: #00796B; }
.bg-mat-800 { background-color: #00695C; }
.bg-mat-900 { background-color: #004D40; }